body {
    width: 375px;
    margin: 0 auto;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    height: 700px;
}

.imgTopo {
    margin: 0 auto;
    width: 375px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 5px #eeececfb;
}

.imgTopo img {
    margin: 15px;
}

.chat {
    margin-top: 100px;
    overflow: hidden;
}

.mensagens-de-status {
    background-color: #dcdcdc;
    height: 40px;
    display: flex;
    align-items: center;
}

.mensagens-reservadas {
    background-color: #ffdede;
    height: 40px;
    display: flex;
    align-items: center;
}

.mensagens-normais {
    background-color: #ffffff;
    height: 40px;
    display: flex;
    align-items: center;
}

.tempo{
    font-size: 14px;
    color: #aaaaaa;
    margin-right: 5px;
}

.nome{
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
}
.mensagem{
    font-size: 14px;
    margin-right: 5px;
}
.destino{
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 700;
}
.rodape {
    width: 375px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.imgRodape {
    margin-right: 15px;
}

.mandar-mensagem-nova{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

input {
    border: 0 none;
    font-size: 18px;
    outline: none;
    resize: none;
}

 input::placeholder {

    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #000000;
   
    background-color: #ffffff;
    width: 368px;
    height: 70px;
    margin-left: 22px;
}